/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f2f2f200;
    border-radius: 50px;
    -webkit-box-shadow: inset 0px 0px 5px 1px #666666; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(top, #364022 0%, #727355 100%);
    border-radius: 50px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: -webkit-linear-gradient(bottom, #364022 0%, #727355 100%);
}
  
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    letter-spacing: 1px;
    color: #161A1E;
}

h1 {
    text-transform: uppercase;
}

h2 {
    font-variant: small-caps;
}

h6 {
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

p {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
}

.flip-card .fa-circle, .flip-card-project .fa-circle {
    font-size: .2rem;
    margin: 0.5rem 0;
    opacity: 0;
}

.navbar {
    background-color: #F2F2F2;
    color: #364022;
}

.navbar-brand {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #364022;
}

.nav-link {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    text-transform: lowercase;
}

.carousel .carousel-indicators {
    margin-bottom: 0;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #364022;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
}

.flip-card-project {
    background-color: transparent;
    width: 500px;
    height: 600px;
    perspective: 1000px;
}
  
.flip-card-inner, .flip-card-project-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner,
.flip-card-project:hover .flip-card-project-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 5%;
    border: 2px solid #364022;
    border-radius: 25px;
}

.flip-card-project-front, .flip-card-project-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 5%;
    border: 2px solid #364022;
    border-radius: 25px;
}

.flip-card-front {
    background-color: #36402240;
}

.flip-card-back {
    background-color: #36402280;
}
  
.flip-card .flip-card-back, .flip-card-project .flip-card-project-back {
    transform: rotateY(180deg);
}

.flip-card .fa-chevron-right,
.flip-card-project .fa-chevron-right {
    color: #364022;
    position: fixed;
    right: 20px;
    bottom: 15px;
}

.footer {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    letter-spacing: 1px;
    font-variant: small-caps;
    text-transform: lowercase;
    color: #364022;
    box-shadow: 0 0 25px 5px rgba(0,0,0,0.5);
}

.fa-envelope, .bi-discord, .bi-linkedin, .fa-handshake {
    color: #591902;
}

.icon-envelope:hover .fa-envelope::before {
    color: #727355;
    content: "\f2b6";
}

.icon-discord:hover, .bi-discord:hover, .icon-linkedin:hover, .bi-linkedin:hover, .icon-handshake:hover .fa-handshake:hover {
    color: #727355;
    transform: translate3d(0, -.125rem, 0);
}